.voiceSrvServer {
    margin-left: 0;
}
.voiceSrv, .voiceSrv *, .voiceSrverror {
    background-color: #ffffff;
    color: #00000;
    font-family: Verdana;
    font-size: 12px;
}

ul.voiceSrvItem, ul.voiceSrvItem ul {
    list-style: none;
    position: relative;
    margin: 0px;
    padding: 0px;
}

ul.voiceSrvItem ul:before,
ul.voiceSrvItem li:before {
    position: absolute;
    background-image: url(/application/modules/voiceserver/static/img/lines.png);
    background-size: 60px 20px;
    content: '';
    width: 20px;
    top: 0;
    z-index: 9;
}

ul.voiceSrvItem ul:before {
    background-position: 0px top;
    background-repeat: repeat-y;
    height: 100%;
    left: -20px;
}    

ul.voiceSrvItem li{
    position: relative;
    padding-left: 20px;
    line-height: 20px !important;
    border: 0px !important;
}

ul.voiceSrvItem li:before {
    background-position: -20px top;
    background-repeat: no-repeat;
    height: 20px;
    left: 0;
} 

ul.voiceSrvItem li:last-child:before {
    background-position: -40px top;
}

ul.voiceSrvItem li:last-child > ul:before {
    background: none;
}

.voiceSrvItem {
    margin-left: 16px;
    position: relative;
    white-space:nowrap;
}

.voiceSrvItem a {
    display: block;
    text-decoration: none;
    color: #000000 !important;
}

.voiceSrvItem a:hover {
    background-color: #f6f6f6;
    color: #000099;
}

.voiceSrvItem img {
    border: 0;
    vertical-align: middle;
    margin-right: 2px;
}

.voiceSrvFlags {
    position: absolute;
    right: 0;
    top: 0;
}
